.adm_body{background: #fff!important;}


.entrance{position: relative; width: 100%; height: 100%; background: rgba(235,235,235,0.3);  }
.center_box{text-align: center; padding: 40px 40px 70px 40px; background: #fff; border-radius: 4px;
	position: absolute;
	box-shadow: 0 0 2px rgba(0,0,0,0.23);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.adm_icon{width: 80px; height: 80px; background: url('https://www.tolbertsecurity.com/wp-content/uploads/2016/03/castle-1083570_640.png') center center no-repeat; background-size: cover; margin: 0 auto 30px auto;}

.inp_adm{border:none; border-bottom: 1px solid #eee; padding: 10px 0 4px 0; outline: none; font-size: 14px; width: 200px; margin-bottom: 20px;}

.over_b{margin-top: 30px;}
.adm_auth{width: 200px; border:1px solid #2D8AD9; background: none; border-radius: 3px; color:#2D8AD9; font-weight: bold; padding: 12px 0; cursor: pointer; font-size: 13px;}


.adm_top{width: 100%; position: fixed; top:0; z-index: 100500; background:#F9F9F9;  padding: 20px 0; color:rgba(255,255,255,0.7);
	border-bottom: 1px solid #eee;
	color:#2D8AD9; text-decoration: none; font-weight: bold;
	ul{
		li{ cursor: pointer;
			a{text-decoration: none; font-weight: bold; color:#2D8AD9;}
			
		}
	}
}

.active_adm_nav{color:navy!important;}


.adm_inner{width: 1000px; margin: 0 auto;}



.adm_cont{padding-top: 120px; padding-bottom: 100px;
	h2{color:rgba(0,0,0,0.1); font-size: 28px; /*border-bottom: 2px solid rgba(0,0,0,0.1);*/ margin-bottom: 30px; /*padding-bottom: 30px;*/}
}

.adm_top_box{font-size: 0;}
.adm_big{width: 70%;
	ul{margin: 0!important; padding: 0!important;
		li{display: inline; margin-right: 10px;}
	}
}
.adm_small{width: 30%; text-align: right;
	a{text-decoration: none; font-weight: bold; color:#ff303f;}
}


.shad{background: #fff!important; border:none!important; box-shadow: 0 0 10px rgba(0,0,0,0.13);}

.sup_row{padding: 16px 0; border-top: 1px solid rgba(235,235,235,0.4);  box-sizing: border-box;  font-size: 0; position: relative;}
/*.sup_row:last-child{border-bottom: 1px solid rgba(235,235,235,0.4);}*/
.sup_row:nth-child(even){background: rgba(235,235,235,0.1);}
.sup_row:nth-child(odd){background: rgba(235,235,235,0.0);}

.sup_part_60{width: 60%; box-sizing: border-box; padding-left: 20px;}
.sup_part_40{width: 40%;}
.sup_title{font-weight: bold; color:rgba(135,135,135,1);}
.sup_toggle{float:right; margin-right: 10px; cursor:pointer; color:rgba(135,135,135,1);}
.sup_details{font-size: 12px; padding: 16px 10px 0px 20px; width: 100%; position: relative;}

.sbrands{width: 30%;}
.sphone{width: 120px;}
.sdata{width: 25%;}

.stitle{font-size: 10px; font-weight: bold; color:rgba(135,135,135,0.4);}



.adm_pop{position: fixed; width: 100%; height: 100%; top:0; left:0; background: rgba(0,0,0,0.8); z-index: 100500;} 
.adm_inpop{width: 100%; height: 100%; position: relative; }
.adm_inpop_window{
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.13);
	border-radius: 4px;
	box-sizing: border-box;
	padding: 30px;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  height: 2px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.pbar{width: 400px; height: 2px; background: #eaebec; margin-top: 30px;}
.ptext{text-align: center; font-weight: bold; font-size: 11px; margin-top: 10px;}


.btn_adm{border:1px solid #2D8AD9; background: none; border-radius: 3px; color:#2D8AD9; font-weight: bold; padding: 7px 0px; cursor: pointer; font-size: 13px; margin-top: 20px; width: 150px; text-align: center; box-sizing: border-box;
}


.chfl{
  padding:7px 0px;
  background:#00ad2d;
  border:1px solid #00ad2d;
  position:relative;
  color:#fff;
  border-radius:2px;
  text-align:center;
  cursor:pointer;
  width:150px;
}
.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
    
}


//dashboard
.all_dash{}
.dbl{padding: 10px 20px 20px 20px; box-sizing: border-box; box-shadow: 0 0 17px rgba(0,0,0,0.13);  border:1px solid #eee; min-height: 200px;}
.dbl_invert{padding: 10px 20px 20px 20px; box-sizing: border-box; box-shadow: 0 0 17px rgba(0,0,0,0.13);  border:1px solid #eee; min-height: 200px; color:red; background:olive;}
.dash_blocks{font-size: 0;}
.dash_full{width: 100%; margin-bottom: 20px;}
.dash_half{width: calc(50% - 10px); margin-bottom: 20px;}
.dash_half:nth-child(even){margin-left: 20px;}

.dash_title{font-weight: bold; font-size: 20px; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px;}
