//html,body{background: transparent!important}
.bp_all{width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,0.0);}
.bp_top{width: 100%; height: 200px; position: absolute; z-index: 90; background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.0));}
.bp_logo{width: 140px; height: 40px; position: absolute; background: url('../vegas/graphics/logo.svg'); top:40px; left:60px;}
.bp_side{width: 600px; height: 100%; position: absolute; z-index: 100; right:0px; background: linear-gradient(to left, rgba(0,0,0,1),rgba(0,0,0,0.9), rgba(0,0,0,0.7), rgba(0,0,0,0.0));}
.bp_inside{position: absolute; width: 400px; height: 100%; right: 0; background: none; box-sizing: border-box; padding: 45px 20px 50px 0; color:rgba(255,255,255,0.8); font-family: 'PB';}

.bp_maintitle{font-size: 30px; color:#fff;}
.bp_hello{margin-top: 20px; font-size: 16px;}

.bp_block{border-top:1px solid rgba(255,255,255,0.2); margin-top: 20px; padding-top: 20px;}
.bp_block_title{text-transform: uppercase; color:rgba(255,255,255,0.4); margin-bottom: 5px;}

	.bpcn{width: 70px; display: inline-block; vertical-align: middle; color:rgba(255,255,255,0.3);}
	.bpcd{display: inline-block; vertical-align: middle;}


.bp_oneband{display: inline-block; vertical-align: top; font-size: 14px; margin-right: 20px; margin-top: 10px;}
.bp_b{width: 20px; height: 30px; margin: 0 auto;}
.bp_t{width: 30px; text-align: center; color:rgba(255,255,255,0.6); font-family: 'PB'; font-size: 11px; margin-top: 5px;}

.bp_red{background: url('../vegas/graphics/red.png') center center no-repeat; background-size: contain;}
.bp_blue{background: url('../vegas/graphics/blue.png') center center no-repeat; background-size: contain;}
.bp_brown{background: url('../vegas/graphics/brown.png') center center no-repeat; background-size: contain;}
.bp_silver{background: url('../vegas/graphics/silver.png') center center no-repeat; background-size: contain;}
.bp_biege{background: url('../vegas/graphics/biege.png') center center no-repeat; background-size: contain;}

.vegas-timer-progress{background: transparent!important}

