$mc:rgba(0,0,0,0.64);

html,body{width: 100%; height: 100%; position: relative; font-family: 'Helvetica Neue', 'Helvetica', 'Arial'; color:$mc; font-size: 14px; line-height: 18px; background: #ebeced;
	-webkit-font-smoothing: antialiased;
	/*
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    */
}






//colors
$sky:#229fff;
$navy:#023968;
$marine:#405898;
$blue:#539ADA;

/*
$sky:#5299F6;
$navy:#5299F6;
$marine:#5299F6;
$blue:#5299F6;
*/

// #3282F3

//968-550=418-180=
$w:1060px;
$l:180px;
$r:300px;
$f:540px;


//error page

.err_404_all{position: relative; width: 100%; height: 100%; background: url('../images/error.png') center bottom no-repeat; }
.err_444_all{position: relative; width: 100%; height: 100%; background: #fce7ec url('../images/error1.png') center center no-repeat; }

.err_404_cont{ position: relative;  padding-top: 100px; text-align: center;}
.err_big{font-size: 30px; line-height: 40px; font-weight: bold;}
.err_small{font-size: 16px; line-height: 20px; font-weight: bold;}
.to_start{margin-top: 20px;
	a{color:#2D8AD9;}
}



.hide{display: none;}


.headroom--pinned{
	transform: translateY(0);
	display: block;
}

.headroom--unpinned{
	transform: translateY(-100%);
	display: none;
}

.headroom{
	transition: transform .25s ease-in-out;
will-change: transform
}




.oneclick{position: fixed; z-index:60000000000; width: 100%; height: 100%; background: rgba(235,235,235,0.8);}
.inoneclick{width: 100%; height: 100%; position: relative;}
.oneclickwindow{
	text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //box-shadow: 0 0 13px rgba(0,0,0,0.6);
  //border-radius: 5px;
  //background: #192733;
  //color:#fff;
  //padding:0px 70px;
  box-sizing: border-box;
  //background: red;
}

.winbox2{position: relative; width: 100%; height: 100%; background: #fafbfc;
	box-shadow: 0 0 13px rgba(0,0,0,0.6);
	padding: 50px 50px 50px 50px;
	margin-left: -50px;
	color:#666;
	
	//box-sizing: border-box;
	
}

.close{width: 16px; height: 16px; background: url('../images/svg/cross.svg') center center no-repeat; background-size: cover; position: absolute; right:14px; top:16px; cursor: pointer;}

.quick_content{background: transparent; width: 100%; position: relative;}


.fast_box{width: 250px; margin: 0 auto; background: transparent; }

.fast_pic{width: 100px; height: 100px; background: url() center center no-repeat; background-size: cover; margin: 0 auto; border-radius: 4px; border:1px solid #eee;}
.fast_title{width: 100%; color:#373D48; margin: 10px auto; font-size: 18px; }
.fast_price{margin-bottom: 20px; font-weight: bold;}
#fast_sum{font-size: 14px;}
#fast_cur{font-size: 13px;}
.fast_form{margin: 0 auto;}
.fast_inp{margin: 5px auto;  width: 240px; position: relative; display: block;}


.hider2{position: absolute; width: 100%; height: 100%; background: #eee; opacity: 0.5; }
.fast_buy{width: 240px; margin: 10px auto 0 auto; position: relative;}

.fast_box_answer{background: transparent; }
.f_thnx{font-size: 18px; font-weight: bold;}
.f2_thnx{font-size: 12px; margin-top: 10px;}


.age{position: fixed; z-index:60000000000; width: 100%; height: 100%; background: rgba(235,235,235,0.8);}
.inage{width: 100%; height: 100%; position: relative;}
.agewindow{
	text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //box-shadow: 0 0 13px rgba(0,0,0,0.6);
  //border-radius: 5px;
  //background: #192733;
  //color:#fff;
  //padding:0px 70px;
  box-sizing: border-box;
  //background: red;
}

.winbox{position: relative; width: 100%; height: 100%; background: #1C99C9;
	box-shadow: 0 0 13px rgba(0,0,0,0.6);
	padding: 60px 50px 70px 50px;
	margin-left: -50px;
	color:#fff;
	//box-sizing: border-box;
	
}

.age_icon{width: 50px; height: 50px; background: url('../images/svg/18c.svg'); margin: 0 auto;}
.age_text{font-size: 24px; margin: 30px 0 20px 0; font-weight: bold;}
.age_small_text{width: 400px; margin: 0 auto; font-size: 13px; font-weight: bold; color:#bbeafc;}
.age_buttons{font-size: 0; margin-top: 30px;}
.age_btn{ 
	a{color:#5acbf6; border:1px solid #12769c; background: #12769c; width: 90px; display: inline-block; margin: 0 20px; text-decoration: none; font-weight: bold; text-transform: uppercase; padding: 10px 0; border-radius: 4px;}
}






.fbp{background: #ffffff; min-height: 190px;}



.off{display: none;}
.clear{clear:both;}

.scalepic{width: 100%; height: auto;}

.inner{width: $w; margin: 0 auto; position: relative;}

.bt{border-top: 1px solid #f1f1f1;}
.bb{border-bottom: 1px solid #f1f1f1;}

.inl_m{display: inline-block!important; vertical-align: middle; font-size: 12px;}
.inl_t{display: inline-block!important; vertical-align: top; font-size: 12px;}
.inl_b{display: inline-block!important; vertical-align: bottom; font-size: 12px;}

.ta_c{text-align: center;}
.ta_l{text-align: left;}
.ta_r{text-align: right;}

.part_3{width: $w/3;}

.bigimg{width: ($f)-(2px); height: $f; background: transparent center center no-repeat; background-size:cover; border-radius: 4px 4px 0 0; box-sizing: border-box; margin: 0 auto;}

.minimg{width: ($f/2)-(12px); height: $f/2; background: transparent center center no-repeat; background-size:cover; border-radius: 4px 4px 0 0; box-sizing: border-box; margin: 0 auto;}





//

.to_top{position: fixed; bottom:16px; left: 16px; font-size: 12px; font-weight: 700; background: #D5D7DA; color:#7E8083; border-radius: 4px; padding: 10px 20px; cursor:pointer; z-index: 9999; opacity: 1;}


//

.notify{text-align: center; background: #599AD8; padding: 14px; color:#fff; font-size: 12px; font-weight: 700;}
.all_top{width: 100%; background: #fff; position: fixed;
	box-shadow: 0 0 3px rgba(0,0,0,0.3); z-index: 100500;
	
}
.top_nav{text-align: center; padding: 12px 0; font-size: 0;}

.top_menu_right{ margin-right: 40px;
	ul{margin: 0!important; padding: 0!important;
		li{display: inline; margin-left: 20px;
			a{text-decoration: none; color:#757C84; font-weight: bold;}
		}
	}
}


.inp{border-radius: 3px; border:1px solid #DEDFE0; outline:none; height: 30px; box-sizing: border-box; padding: 0 10px;}
.searchinp{background: #F2F2F2 url('../images/svg/search.svg') center left no-repeat; background-size: contain; width: 200px; padding-left: 30px;}

.logo{height: 30px; width: 150px; margin: 0 auto;}

.cart{width: 30px; height: 30px; background: transparent url('../images/svg/cart.svg'); float:right;}
.cartfull{background:#4899F9; border:1px solid #fff; border-radius: 4px; padding: 2px 3px 2px 3px; font-size: 9px; line-height: 9px;  position: absolute; color:#fff; font-weight: bold; margin-left: 16px;}

.breads{padding: 10px 0; 
	ul{padding: 0!important; margin: 0!important;
		li{display: inline-block; 
			a{font-size:11px; font-weight: 500; text-decoration: none; color:rgba(0,0,0,0.44);}
		}
		li:after{content:'›'; margin-left: 4px; color:rgba(0,0,0,0.23);}
		li:last-child:after{content: '';}
	}
}


.page{padding-top:74px; }
.page_pop{padding-top:70px; width: 100%; box-sizing: border-box; background: transparent; position: relative; }


//prod popup
.popup{width: 100%; min-height: 100%; height: 100%; top:0px!important; background: rgba(235,235,235,0.9); position: fixed; z-index:200500; overflow: scroll;}

.scrollable{
	overflow-y: scroll;
    min-height: 100%;
}

.no-flow{overflow: hidden;}


.page_left{width: $l; position: relative;}
.page_right{width: $r; position: relative; box-sizing: border-box; }
.page_feed{width: $f;  margin: 0 16px 0 16px; }

.expander{ background: transparent; min-height: 40px; background: red;}

#fixleft{width: $l; padding-bottom: 30px;}
#fixright{width: $r;}

.fix{position: fixed;}
.rel_box{width: 100%; position: relative;}
.prod_box{position: relative;}
.box{width: 100%; position: relative; background: #fff!important; border-radius: 4px; border:1px solid #E5E6E8;  box-sizing: border-box; margin-bottom: 16px; }

.small_conts{background: transparent; width: 49%; 
	p{margin: 0 0 5px 0;}
	 }

.minbox{width: ($f/2)-10px!important;}
.lb{margin-right: 8px;}
.rb{margin-left: 8px;}

.inbox{padding: 10px;}
.inbox_title{text-transform: uppercase; font-size: 11px; font-weight: 700; border-bottom: 1px solid #f1f1f1;}

.prod_data{font-size: 0;  box-sizing: border-box;}

.prod_image{cursor: pointer;}

.prod_title{width: 55%; position: relative; font-weight: 700;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.prod_title_a{
	color:#5C5C5C;
}
.elips{position: absolute; height: 30px; width: 30px;  right:0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+48,ffffff+100&0.16+0,0.91+41,1+100 */
background: -moz-linear-gradient(left, rgba(255,255,255,0.16) 0%, rgba(255,255,255,0.91) 41%, rgba(255,255,255,0.92) 48%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0.16) 0%,rgba(255,255,255,0.91) 41%,rgba(255,255,255,0.92) 48%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0.16) 0%,rgba(255,255,255,0.91) 41%,rgba(255,255,255,0.92) 48%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.prod_price{width: 45%; position: relative; text-align: right;}
.inprice{border: 1px solid #6199F0; border-radius: 4px; color:#6199F0; padding: 6px 8px; display: inline-block; font-weight: 700; cursor: pointer;
	span{font-size: 10px;}
}

.redprice{color:#FB6455!important; border-color:#FB6455!important;} 
/*
.discount_bage{position: absolute; right: -4px; top:20px; width: 160px; height: 50px; background:url('../images/bage_discount_friday.png') center center no-repeat; background-size: cover;}
*/
//.discount_bage{position: absolute; right: -4px; top:20px; width: 160px; height: 50px; background: url('../images/badges/halloween_badge.png') center center no-repeat; background-size: cover;}

.discount_bage{position: absolute; right: -4px; top:20px; width: 160px; height: 50px; background: url('../images/bage_discount2.png') center center no-repeat; background-size: cover;}

//.float_img{position: absolute; width: 152px; height: 28px; background: rgba(0,255,0,0.0) url('../images/badges/halloween_nav_5.png') right top no-repeat; background-size: contain; margin-top:-11px;}

.float_img{position: absolute; width: 152px; height: 28px; background: rgba(0,255,0,0.0) url('../images/badges/hny.png') right top no-repeat; background-size: contain; margin-top:-11px;}



.bage_nums{position: relative; text-align: center; color:red; font-weight: bold; width: 100%; font-size: 0; line-height: 50px;}

/*
.bage_dis{font-size: 18px; width: 70px; height: 50px; color:#5A99F3; font-family: 'Fira Sans'; 
	span{font-size: 14px; font-weight: bold;}
}
*/

.bage_dis{font-size: 18px; width: 70px; height: 50px; color:#229fff; font-family: 'Fira Sans'; 
	span{font-size: 14px; font-weight: bold;}
}

.bage_old_price{text-decoration: line-through; color:navy; font-size: 14px;  color:rgba(0,0,0,0.84); width: 90px; height: 50px; 
	span{font-size: 12px;}
}


.fav_btn{width: 30px; height: 30px; background: url('../images/svg/favoff.svg') center center no-repeat; background-size: cover; margin-right: 10px; position: relative; cursor:pointer;}

.favtooltip{position: absolute; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.5); border-radius: 3px; width: 140px; top:-50px; text-align: center; left:-55px; opacity: 0; transition: opacity 0.4s, top 0.4s;}
.infavtooltop{position: relative; width: 100%; height: 100%; padding: 4px 0; z-index: 2; background: #fff; border-radius: 3px; font-weight: bold; font-size: 11px; color:rgba(0,0,0,0.44);}

.fav_btn:hover .favtooltip {
    visibility: visible;
    opacity: 1;
    display:block;
    top:-40px;
}

.setlike{position: absolute; width: 100%; height: 100%;}
.likeon{background: url('../images/svg/favon.svg') center center no-repeat; background-size: cover; width: 100%; height:100%;}
//.likeoff{background:navy;  width: 100%; height:100%;}


.marked_tag{margin-left: 10px; color:#fff; border-radius: 1000px; background: #8DCD42; box-sizing: border-box; padding: 1px 10px; font-size: 11px; font-weight: bold;}


.front_signature{background: transparent; width: 85%; box-sizing: border-box; padding-right: 8px; border-right: 1px solid #eee;}

.front_signature_text{width: calc(100% - 85px); font-size: 11px;}
.front_signature_text_small{ font-size: 11px;}
.front_signature_pic{width: 70px; height: 50px; background: url() center center no-repeat; background-size: contain; margin-left: 5px;}
.front_signature_pic_small{margin-left: 0px; width: 50px; height: 50px; background: url('../images/signs/gif.png') center center no-repeat; background-size: contain; }


.share_this{width: 15%; text-align: right; padding: 6px 0; box-sizing: border-box; }
.share_this_without{width: 100%; text-align: right; padding: 6px 0; }
//.share_this_inbuy{width: 1}




//.share_this{width: 100%; text-align: right; padding: 6px 0;}
.share_title{color:rgba(0,0,0,0.14); font-weight: 500; margin-right: 10px;}
.share_icon{width: 24px; height: 24px; background: #ddd; margin: 0 2px; border-radius: 1000px; cursor: pointer;}

.gp{background: url('../images/svg/smm/gp.svg') center center no-repeat; background-size: cover;}
.gp:hover{background: url('../images/svg/smm/gp-h.svg') center center no-repeat; background-size: cover;}

.vk{background: url('../images/svg/smm/vk.svg') center center no-repeat; background-size: cover;}
.vk:hover{background: url('../images/svg/smm/vk-h.svg') center center no-repeat; background-size: cover;}

.tw{background: url('../images/svg/smm/tw.svg') center center no-repeat; background-size: cover;}
.tw:hover{background: url('../images/svg/smm/tw-h.svg') center center no-repeat; background-size: cover;}

.fb{background: url('../images/svg/smm/fb.svg') center center no-repeat; background-size: cover;}
.fb:hover{background: url('../images/svg/smm/fb-h.svg') center center no-repeat; background-size: cover;}





.side_logo{border-bottom: 0px solid #ccc; margin-bottom: 10px; margin-top: 50px; box-sizing: border-box; padding-bottom: 0px;}
.side_logo_img{width: 100%; height: 90px; background: url('../images/svg/logo_side_gastro2.svg') center center no-repeat; position: relative; }
.side_logo_text{font-weight: 700; box-sizing: border-box; padding-left: 2px;}

.nav_box{margin-bottom: 20px;}
.nav_title{text-transform: uppercase; font-size: 11px; font-weight: 700; margin-bottom: 4px; padding-left: 6px;
	color:rgba(0,0,0,0.3);
}
.nav_menu{
	ul{margin: 0; padding: 0;
		li{list-style: none; margin-bottom: 0px; padding: 2px 6px; width: 100%; box-sizing: border-box; cursor: pointer; color: rgba(0,0,0,0.57); font-weight: 500; 
			a{text-decoration: none; color: /*rgba(0,0,0,0.54)*/ #373D48; }
		}
	}
}


.iconmarg{margin-right: 5px;}
.gifticon{width: 12px; height: 12px; background: url('../images/svg/gift.svg') center center no-repeat; background-size: cover;}
.recicon{width: 12px; height: 12px; background: url('../images/svg/rec.svg') center center no-repeat; background-size: cover;}
.saleicon{width: 12px; height: 12px; background: url('../images/svg/saleicon.svg') center center no-repeat; background-size: cover;}
.hoticon{width: 12px; height: 12px; background: url('../images/svg/hoticon.svg') center center no-repeat; background-size: cover;}

.nav_icon{width: 6px; height: 6px; background: #ddd; margin-right: 5px; border-radius: 100px; line-height: 20px;}
.staricon_on{width: 12px; height: 12px; background: url('../images/svg/hearton.svg') center center no-repeat; background-size: cover;}
.staricon_off{width: 12px; height: 12px; background: url('../images/svg/heartoff.svg') center center no-repeat; background-size: cover;}

.staricon{width: 12px; height: 12px;}


#totalfavs{font-weight:bold; font-size: 10px; min-width: 20px; height: 14px; background: rgba(255,255,255,0.9); display: inline-block; margin-left: 7px; border-radius: 100px; text-align: center; vertical-align: middle; line-height: 12px;}

.active_nav{background: rgba(255,255,255,0.6);   border-radius: 3px; 
	.nav_icon{width: 6px; height: 6px; background: #597EB2!important; margin-right: 5px; border-radius: 100px;}
}

.add_menu{margin-bottom: 30px;
	ul{margin: 0; padding:0;
		li{display: inline-block; 
			a{text-decoration: none; color:rgba(0,0,0,0.34);}
		}
		li:after{content: '·'; margin-left: 4px; }
		li:last-child:after{content: ''}
	}
}

#insta{font-size: 0; position: relative; min-height: 110px;}
.instapic{width: ($r/5)-15px; height: ($r/5)-15px; position: relative; margin-right: 10px; margin-bottom: 10px; border:1px solid #f1f1f1; border-radius: 2px; }
.forinsta{padding-bottom: 0!important; padding-right: 0!important; min-height: 170px; position: relative;}

//buttons
.btn{border:1px solid #ddd; text-align: center; font-weight: 700; border-radius: 4px; padding: 10px 10px; cursor: pointer;}

.bt1{border-color:#C9D6E7; color:#4D78B1; cursor: pointer;}

.bt2{border-color:#1C99C9; color:#1C99C9; cursor: pointer;}


/*

.btn2{color:#fff!important; cursor: pointer; 
	text-align: center; font-weight: 700; border-radius: 4px; padding: 10px 10px; font-size: 14px;
	
	border: 1px solid #568342;
border-top-color: #588446;
border-bottom: 1px solid #3e6b32;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
background-image: linear-gradient(to bottom, #75ad5e, #639b4e);
}

.btn2:hover{background-image: -webkit-linear-gradient(top, #80C06B, #64A350);}


.btn2s{color:#fff!important; cursor: pointer;  box-sizing: border-box;
	text-align: center; font-weight: 700; border-radius: 4px; height: 38px; font-size: 13px; line-height: 34px;
	
border: 1px solid #568342;
border-top-color: #588446;
border-bottom: 1px solid #3e6b32;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
background-image: linear-gradient(to bottom, #75ad5e, #639b4e);
}

.btn2s:hover{background-image: -webkit-linear-gradient(top, #80C06B, #64A350);}

*/





.btn2{color:#fff!important; cursor: pointer; 
	text-align: center; font-weight: 700; border-radius: 4px; padding: 10px 10px; font-size: 14px;
	
	border: 1px solid #568342;
border-top-color: #588446;
border-bottom: 1px solid #3e6b32;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
background-image: linear-gradient(to bottom, #75ad5e, #639b4e);
}

.btn2:hover{background-image: -webkit-linear-gradient(top, #80C06B, #64A350);}


.btn2s{color:#fff!important; cursor: pointer;  box-sizing: border-box;
	text-align: center; font-weight: 700; border-radius: 4px; height: 38px; font-size: 13px; line-height: 34px;
	
border: 1px solid #568342;
border-top-color: #588446;
border-bottom: 1px solid #3e6b32;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
background-image: linear-gradient(to bottom, #75ad5e, #639b4e);
}

.btn2s:hover{background-image: -webkit-linear-gradient(top, #80C06B, #64A350);}







.btn3s{color:#fff!important; cursor: pointer;  box-sizing: border-box;
	text-align: center; font-weight: 700; border-radius: 4px; height: 38px; font-size: 13px; line-height: 34px;
	
border: 1px solid #4899F9;
background: #4899F9;
//border-top-color: #588446;
//border-bottom: 1px solid #3e6b32;
//box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
//background-image: linear-gradient(to bottom, #2A73D4, #5C7EB0);
}

.btn3s:hover{background-image: -webkit-linear-gradient(top, #229fff, #4899F9);}





.bluelink{color:#4D78B1; text-decoration: none;}


.btn4s{color:#FB6455!important; cursor: default;  box-sizing: border-box;
text-align: center; font-weight: 700; border-radius: 4px; height: 38px; font-size: 13px; line-height: 34px;
border: 1px solid #FB6455;
background: transparent;
}


//product

$pl:80px;
$pc:620px;
$pr:310px;

.one_product{font-size: 0;}
.all_cart{font-size: 0;}

.minbox2{width: ($pc/2)-10px!important;}
.even_box{margin-left: 16px;}

.minimg2{width: ($pc/2)-(12px); height: $pc/2; background: transparent center center no-repeat; background-size:cover; border-radius: 4px 4px 0 0; box-sizing: border-box; margin: 0 auto;}

.back_btn{background:olive; width: $pl; box-sizing: border-box;}

.go_back{font-size: 12px; font-weight: 700; color:#fff; border-radius: 4px; padding: 10px 10px; cursor:pointer; z-index: 9999; opacity: 1; text-align: center; height: 40px;  box-sizing: border-box;
	//background: #597EB2; 
	background:#4899F9 url('../images/back_arrow.png') center center no-repeat;
	background-size: contain;
	border:1px solid #ddd;
	//box-shadow: 0 0 7px rgba(0,0,0,0.23);
	
}

.buy_box{background: transparent; width: $pr; box-sizing: border-box;}


.main_box{background: transparent; }

.product_box{background: #fff; width: $pc; margin: 0 16px 0px 16px; box-sizing: border-box; border-radius: 4px; border:1px solid #DFE0E4; padding: 4px; min-height: 300px;}
.related_box{background: transparent; width: $pc; margin: 30px auto 0 auto;}

.popup_end{margin-bottom: 100px;}


.inback{width:$pl;}
.inbuy{width:$pr;}


.main_img{background: #f0f0f0; width: ($pc)-10px; height: ($pc)-10px; position: relative; }


.pics_array{background: none; width: 160px; font-size: 0; }
.one_pic{width: 41px; height: 41px; background: #eee; margin-right: 6px; margin-bottom: 6px; border-radius: 3px; border:2px solid #ffffff; cursor: pointer; position: relative;}
.active-pic{border:2px solid #83ADDC; }
.ovc{position: absolute; width: 100%; height: 100%; background: #83ADDC; opacity: 0.4;}


.full_desc{width: ($pc)-196px; background: transparent;}
.desc_title{font-weight: 700; font-size: 14px; margin-bottom: 10px;}
.desc_small{margin-bottom: 10px;}
.desc_big{display: block; font-size: 13px; line-height: 18px; color:rgba(0,0,0,0.77);}
.elips_desc {
overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.show_hide_desc{cursor: pointer; color:#4D78B1; margin: 10px 0; }
.nopad{padding-left: 0!important;}
.ftn{margin-top: 10px;}

.data_key{width: 40%; color:#9498A4; font-size: 12px;}
.data_value{width: 55%; font-size: 12px;}


.all_specs{background: none; margin-top: 10px; padding-top: 14px; border-top: 1px solid #ededed;}
.spec_block{background: transparent; width: 50%; font-size: 11px; line-height: 16px; box-sizing: border-box; padding-right: 15px; margin-bottom: 20px;}
.specs_for{border-bottom: 1px dotted #ededed; margin-bottom: 5px; padding-bottom: 5px; font-size: 11px; font-weight: bold;}
.keyspec{color:rgba(0,0,0,0.72);}
.valspec{color:rgba(0,0,0,0.42);}


//buyer box
.prod_big_title{font-size: 18px; line-height: 22px; margin-top: 8px; color:#373D48;}
.prod_sku{margin-top: 4px; color:rgba(0,0,0,0.34); font-size: 11; font-weight: bold;}
.prod_vars{margin: 15px 0 10px 0;}
.prod_opts{width: 35%; box-sizing: border-box; margin-right: 3%; }
.prod_amount{width: 60%; box-sizing: border-box; }


.discount{color:#FD6854!important;}
.old_price{text-decoration: line-through; font-size: 12px; margin-top: 6px; color:rgba(0,0,0,0.54);
	span{font-size: 12px;}
}
.save_percents{margin-top: 6px; color:rgba(0,0,0,0.34);}

.vars_title{margin-bottom: 4px; color:#9398A4;}

.buy_me_now{margin-bottom: 20px;}


$bl:24%;
$br:71%;

.buy_actions{margin-top: 10px;  font-size: 0; position: relative;}

.overbuy{font-size: 10px; background: rgba(255,255,255,1); position: absolute; width: 100%; height: calc(100% + 1px); z-index: 100;}
.overbuy_title{color:#fff;}
#changecarturl{text-decoration: none; color:#fff;}
.before_to_cart{background: #fff; height: 38px;  position: relative; box-sizing: border-box;}
.bef_pic{height: 38px; width: 38px; background: red; margin-right: 30px;}
.bef_text{height: 38px; width: 38px; background: red; margin-right: 30px;}

.buy_title_left{width: $bl;  font-size: 10px!important; font-weight: bold!important; box-sizing: border-box;}
.buy_title_right{width: $br;  margin-left: 5%; box-sizing: border-box;}

.buy_acts_left{width: $bl; box-sizing: border-box;}
.buy_acts_right{width: $br; margin-left: 5%; box-sizing: border-box;}

.buy_me_now2{margin-bottom: 0px;}



p.behind {
    position: relative;
    z-index: 1;
    font-size: 11px;
    font-weight: bold; 
    color:rgba(0,0,0,0.36); 
    
    &:before {
        border-top: 1px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 70%;
        z-index: -1;
    }

    span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #fff; 
        padding: 0 15px; 
    }
}




.price{font-size: 22px; font-weight: 900; margin-top: 15px;
	span{font-size: 14px;}
}




.selbox{
	padding: 0;
    margin: 0;
    border: 1px solid #DFE0E2;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    position:relative;
    

    background: #F8F8F8 url("../images/svg/sel.svg") no-repeat right center;
}



.floatleft{float:left;}

.elips_sel{
  //width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selbox select {
color:rgba(0,0,0,0.64);
    padding: 7px 40px 7px 8px;
    width: 110%;
   border:none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}



.h36{height: 36px!important; }
.h36 select{
 color:rgba(0,0,0,0.64);
    padding: 10px 30px 7px 12px!important;
    width: 110%;
   border:none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;	
}


.h50{height: 50px!important; font-size: 18px; }
.h50 select{
 color:rgba(0,0,0,0.64);
    padding: 16px 30px 7px 12px!important;
   border:none;
   box-sizing: border-box;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;	
}

.selbox select:focus {
    outline: none;
}










//cart
.payment_box{background: transparent; width: $pr + 18px; box-sizing: border-box; margin-bottom: 50px;}
.cart_box{ width: $pc;  position: relative; margin: 0 16px 100px 16px; }

.cart_title{
	box-sizing: border-box;
width: 100%; 
position: relative;
font-size: 15px;
font-weight: bold;
color: #4E5263;
text-shadow: 0 1px rgba(255, 255, 255, 0.5);
line-height: 20px;
padding: 13px 17px;
margin-bottom: 18px;
border-radius: 3px;
box-shadow: 0 1px 0px 0px rgb(208, 209, 213), 0 0px 0px 1px rgba(220, 221, 224, 0.85);
background: linear-gradient(top, #F4F5F6, #EEEFF0);
}

//.chkt{width: 100%; padding: 15px 10px; background: #fafbfc; border-radius: 2px!important;}
.chkt{width: 100%; padding: 7px 10px; background: #fafbfc; box-sizing: border-box; border-radius: 3px;}

.one_inp{margin-bottom: 8px; font-size: 12px;}
.one_inp:last-child{margin-bottom: 0;}



.delblock{font-size: 0;}
.del_left{width: 50%; padding-right: 4px; box-sizing: border-box; }
.del_right{width: 50%; border-left: 0px solid #F1F1F1; padding-left: 4px; box-sizing: border-box;}
.del_anno{font-size: 11px; line-height: 13px; padding-left: 16px; box-sizing: border-box; width: 100%;}

.overinp{padding: 4px 4px 4px 10px; border-radius: 3px; background: #fff; border:1px solid #fff;}
.sel_check{ background: #fff;  border-color:#ddd;}
.selected_inp{border-color:#229fff!important;}

.dv_x{margin-left: 5px;}
.del_title{font-weight: bold;}
.del_desc{font-size: 10px; color:rgba(0,0,0,0.34);}


$cp:80px;
$ce: 100px;
$cm: ($pc)-($cp)-($ce)-42px;

.ct{background: #Fafbfc; border-radius: 3px 3px 0 0; text-transform: uppercase; font-size: 11px; font-weight: 700; }

.nopad_all{padding: 0!important;}
.cart_item{font-size: 0;  border-top:1px solid #f1f1f1; width: 100%;  padding: 20px 20px; box-sizing: border-box;}
.cart_pic{width: $cp; height:$cp; background: #fafbfc url() center center no-repeat; background-size: cover;  box-sizing: border-box; border-radius: 2px; border:1px solid #eee;}
.cart_main{width: $cm; box-sizing: border-box; position: relative;  padding: 0 0px 0 20px;}
.cart_end{text-align: right; width: $ce; box-sizing: border-box; }



.cart_choosers{margin-top: 10px;}
.cart_precolors{font-size: 8px; font-weight: bold; margin-right: 8px; text-transform: uppercase;}
.cart_colors{font-size: 0; }


.all_colors_box{border: 1px solid #eee; padding: 0 2px 0 4px;  box-sizing: border-box; border-radius: 100px;}

.cart_one_color{width: 9px; height: 9px; border:2px solid #fff; margin-right: 2px; border-radius: 10px; position:relative; background: olive; font-size: 0; cursor:pointer;}


.color_a{background: #3f5883;}
.color_b{background: #ADA189;}
.color_c{background: #625459;}
.color_d{background: #a42f4c;}
.color_e{background: #B8BABC;}

.tooltip_image_a{background: url('../images/cart_boxes/blue.jpg') center center no-repeat!important; background-size: cover!important;}
.tooltip_image_b{background: url('../images/cart_boxes/yellow.jpg') center center no-repeat!important; background-size: cover!important;}
.tooltip_image_c{background: url('../images/cart_boxes/brown.jpg') center center no-repeat!important; background-size: cover!important;}
.tooltip_image_d{background: url('../images/cart_boxes/red.jpg') center center no-repeat!important; background-size: cover!important;}
.tooltip_image_e{background: url('../images/cart_boxes/silver.jpg') center center no-repeat!important; background-size: cover!important;}
//.tooltip_image_x{background: url('../images/!test_a.png') center center no-repeat!important; background-size: cover!important;}
/*
.cart_color_sel{width: 13px; height: 13px; position: relative; background: red; display: block; font-size: 10px; cursor: crosshair; z-index:100; border-radius: 100px; margin:2px 2px; //border:2px solid green;
	}
*/


.cart_one_color:hover .cart_color_tooltip {
    visibility: visible;
    opacity: 1;
    display:block;
}

.color_tri:after,
.color_tri:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%; margin-left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
}

.color_tri:after {
    bottom: -18px;
    border-color: #fff transparent transparent transparent ;
    border-width: 10px;
}

.color_tri:before {
    bottom: -21px;
    left:50%;
    margin-left: -12px;
    border-color: #ccc transparent transparent transparent ;
    border-width: 12px;
}

.color_pic{position: absolute; width: 100%; height: 100%; background: #fff; z-index: 75;}
.color_inpic{width: 110px; height: 110px; background: #eee; margin:5px 5px;}

.cart_color_tooltip{position: absolute; width: 120px; height: 120px; background: #fff; bottom:26px; margin-left: -55px;
	box-shadow: 0 0 7px rgba(0,0,0,0.23);  z-index:105; visibility: hidden; display: none;
}



.cart_message{margin-left: 10px; text-transform: uppercase; font-weight: bold; font-size: 10px; border:1px solid #eee; box-sizing: border-box; border-radius: 100px;}

.congrat_complete{border:1px solid #5299F6!important;}

.add_congrats{font-size: 9px; padding: 0 15px; box-sizing: border-box; color:rgba(0,0,0,0.67); cursor:pointer;}

.remove_congrats{width: 12px; height: 12px; background: red; border-radius: 100px; margin-left: 8px; margin-right: 4px; visibility:hidden;}

.meslength{text-align: center; width: 160px; display:block; text-transform: none; font-size: 11px;}

.cm_fb{padding-bottom: 30px; position: absolute; width: 260px; height: 116px; top: -114px; margin-left:-35px; background: none; visibility: hidden; opacity:0;}
.custom_message_form{position: absolute;  width: 260px; height: 130px; background: #fff;  border-radius: 4px; box-shadow: 0 0 7px rgba(0,0,0,0.23);  }
.cm_form_box{position: relative; width: 100%; height: 100%; background: #fff; border-radius: 4px; z-index: 20; box-sizing: border-box; padding: 10px;}


.show_custom_message{
	visibility: visible;
    opacity: 1;
    display:block;
}

/*
.cart_message:hover .cm_fb {
    visibility: visible;
    opacity: 1;
    display:block;
}
*/

.cm_box_input{box-sizing: border-box; width: 100%; margin-bottom: 0;
	textarea{resize: none; width: 100%; outline: none; font-size: 12px; box-sizing: border-box; border:1px solid rgba(0,0,0,0.05); font-weight: normal; border-radius: 3px; padding: 8px; background: #fafbfc;
		 //box-shadow: inset 0 0 17px rgba(0,0,0,0.13); 
	}
}
.cm_box_tip{text-transform: none; font-weight: normal; line-height: 13px;}

.cm_box_anno{font-size: 0; text-transform: none; margin-top: 10px;}
.cm_limit{width: 30%; font-size: 11px; color:rgba(0,0,0,0.33);}
.cm_left{text-align: right; width: 70%; font-size: 11px;}


.band_popup{position: fixed; z-index:100600; width: 100%; height: 100%; background: rgba(0,0,0,0.4);}
.band_form{position: fixed; z-index: 100700; background: #fff; width: 300px; height: 200px;}


input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
} 

.cart_item_title{color:#373d48; font-size: 13px; font-weight: bold;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart_item_varname{margin-top: 10px; }
.cart_end_price{color:#373d48; font-size: 13px; font-weight: bold;}
.cart_end_amount{width: 55px; float:right; margin-top: 10px;}

.one_subtotal{color:rgba(0,0,0,0.34); margin-top: 8px; font-size: 10px; border-top: 1px solid #eee; padding-top: 3px;
	span.sbtl_sum{color:rgba(0,0,0,0.24); font-size: 12px; font-weight: bold;}
}

.cart_end_remove{color:  rgba(0,0,0,0.28); margin-top: 7px; text-decoration: none; cursor: pointer; font-weight: bold; font-size: 11px; background: #fff; position: relative; display: inline-block;  border-radius: 100px; margin-top: 14px; border:0px solid rgba(0,0,0,0.1);}
.cart_end_remove:hover{color:rgba(0,0,0,0.44);}


.rem_icon{width: 15px; height: 15px; background: url('../images/rem.png') center center no-repeat; background-size: cover; margin-right: 2px;}
.rem_text{font-size: 11px;}

.cart_desc{color:rgba(0,0,0,0.34); margin-top: 30px;}

.total{color:#373d48; font-size: 13px; font-weight: bold; text-align: right;
	.small_cur{}
}


.final_btn{position: relative;}
.hider{position: absolute; width: 100%; height: 100%; background: rgba(255,255,255,0.8); }
.hidesel{position: absolute; width: 100%; height: 100%; background: rgba(255,255,255,0.6);}
.disbl{border-color:rgba(235,235,235,0.8)!important;}

//order
.o_title{width: 500px!important; margin: 0 auto 20px auto; text-align: center; }
.order{width: 500px; margin: 0 auto;}

.order_key{width: 100px; font-weight: bold; margin-right: 20px;}
.order_val{color:rgba(0,0,0,0.64);
	p{margin: 0 0 3px 0!important;}
}
.order_p{font-size: 0; border-bottom:1px solid #eee; padding: 10px 0;}

.ord{color: #539ADA!important;}

.order_p:first-child{padding: 0 0 10px 0;}
.order_p:last-child{border:none;padding: 10px 0 0 0;}

.order_p_name{width: 50%; font-weight: bold; position: relative; white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}
.order_p_var{width: 40%; text-align: center; color:rgba(0,0,0,0.44);}
.order_p_amount{width: 10%; font-weight: bold; text-align: center;}

//
.loading-info{position: relative; padding: 0px 0 20px 0; box-sizing: border-box; height: 85px;  background: transparent; width: 100%;}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 20px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.2);
  //opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}





.afterside{height: 100px;}

//textpage
.text_block{width: 800px; margin: 0 auto; padding-bottom: 80px; 
	p{line-height: 18px;}
	h2{margin-top: 30px;}
	h3{margin-top: 20px;}
}


.map{position: relative; width: 100%; height: 100%; z-index: 5;}
.map_side{background: rgba(255,255,255,0.0); height: 100%; width: 400px; position: absolute; z-index: 10;}
.inmap{position: relative; width: 70%; height: 100%; margin: 0 auto;}
.contact_box{position: absolute;
  top: 50%;
  transform: translateY(-50%); background: #fff; padding: 30px 40px 20px 40px; border-radius: 4px;
  box-shadow: 0px 0px 13px rgba(0,0,0,0.3); z-index: 100500;
  .c_title{font-weight: bold; font-size: 15px;}
  p{font-size: 13px; line-height: 18px;}
  }

//single view app
.appcontainer{min-height: 860px; position: relative; background: rgba(255,255,255,1); border-radius: 4px; box-sizing: border-box;}

$ab:#E5E6E8;

.app_bg_top{position: absolute; z-index:1; width: 100%; height: 50%; top:0; border-radius: 4px 4px 0 0; border-top:1px solid $ab; border-left:1px solid $ab; border-right: 1px solid $ab; background: url() top center no-repeat; background-size: contain; }

.app_bg_bottom{position: absolute; z-index:2; width: 100%; height: 50%; bottom:0;  border-radius: 0 0 4px 4px; border-bottom:1px solid $ab; border-left:1px solid $ab; border-right: 1px solid $ab; background: url() bottom center no-repeat; background-size: contain;  }

.app_main{position: relative; z-index: 3; height: 100%; width: 100%; background: transparent; padding: 20px 0px 20px 0px; box-sizing: border-box;}

.app_main_cont{position: relative; width: 100%; height: 100%;  }





//

.author{border-top:1px solid #eee; border-bottom: 1px solid #eee; padding: 10px 0; margin: 20px 0 40px 0; font-size: 0;}
.rec_text{width: 70%; font-size: 11px;}
.signature{width: 30%; font-size: 11px; height: 60px; background: url() left center no-repeat; background-size: contain;}


.in_box_comps{font-size: 10px; border-bottom:1px solid #eee; margin-bottom: 10px; padding-bottom: 6px;}
.comps_title{font-size: 13px; font-weight: bold; color:rgba(0,0,0,0.24); margin-bottom: 10px;}
.comps_list{ font-size: 12px; margin-top: 4px;}
.one_comp_list{ margin-bottom: 6px; line-height: 14px; font-size: 11.5px; color:#444A54; font-weight: bold;}



$di:40px;
.disc_icon{width: $di; height: $di; background: url(../images/svg/18_30.svg) center center no-repeat; background-size: cover;}
.disc_text{ width: calc(100% - #{$di}); box-sizing: border-box; font-size: 11px; line-height: 14px; padding-left: 16px; color:#747477; }

.disclaimer{width: 100%; background: #f5f6f7; border-radius: 4px;  padding: 10px 10px; box-sizing: border-box;}


//ABOUT PAGE\

.about_hello{width: 100%; height: 600px; background: #EBECED url(xhttp://blog.peopleperhour.com/wp-content/uploads/2015/12/title_image_default.png#) center center no-repeat; background-size: cover; position: relative;}
.inhello{width: 100%; height: 100%; position: absolute; }

.hello_cont{position: relative; width: 100%; height: 100%; 
 //background: linear-gradient(120deg, #5E9AD6 8%, #1A3B67 99%);
	background: url('../images/hands.jpg') center center no-repeat; background-size: cover;
	//background: #1A3B67;
	//background: #5E9AD6;
	/*
	-webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
 */
}


.all_hello{ top:280px; position: relative; width: 100%; text-align: center;}

/*
.hello_title{font-size: 140px;   color:#fff; font-weight: normal;  opacity: 0; text-shadow: 0px 0px 20px rgba(0,0,0,0.47), 0 0 2em black;}
*/
.hello_title{width: 400px; height: 100px; background:  url('../images/svg/400_100_wh.svg') center center no-repeat; margin: 0 auto;}

.hello_subtitle{font-size: 24px; line-height: 24px; margin-top: 20px; color:#fff; opacity: 0; font-weight: bold; text-shadow: 0px 0px 20px rgba(0,0,0,0.47), 0 0 2em black;}


.brow{width: 978px; height: 297px; background: url(../images/about.png); left:50%; margin-left: -489px; position: absolute; bottom:0px; opacity: 0;}


.about_keys{background: #fff; position: relative; z-index: 100; min-height: 7px;}
.inkeys{margin: 0px auto; width: 600px; }
.inkeys2{margin: 0px auto; width: 900px; font-size: 0;}
.hello_text{
	h1{font-size: 26px; text-align: center; border-bottom: 0px solid #eee; padding-bottom: 10px; margin-bottom: 0px; text-transform: uppercase; color:#383D48;}
	padding:60px 0 60px 0; 
	p{font-size: 16px; line-height: 24px;}
}


.hello_text_sm{
	h1{font-size: 26px; text-align: left; border-bottom: 0px solid #eee; padding-bottom: 10px; margin-bottom: 0px; text-transform: uppercase; color:#383D48;}
	padding:60px 0 60px 0; 
	p{font-size: 16px; line-height: 24px; }
}


.hello_45_side{width: 45%; padding: 100px 10px; box-sizing: border-box;}
.hello_55_side{width: 55%; padding: 100px 10px; box-sizing: border-box;
	h1{font-size: 26px; text-align: left; border-bottom: 0px solid #ddd; padding-bottom: 10px; margin-bottom: 0px; text-transform: uppercase; color:#383D48;}
	p{font-size: 16px; line-height: 24px;}
}

.sidepic{width: 80%; height: 300px; background: url() center center no-repeat; background-size: cover; margin: 0 auto; }

.about_footer{background: #fff; padding: 40px 0; text-align: center; border-top:0px solid #eee;}
.fcopy{font-weight: bold; font-size: 13px; width: 49%; background: transparent; text-align: left;}
.fmenu{width: 49%; background: transparent; text-align: right;
	ul{margin: 0!important; padding: 0!important;
		li{display: inline;
			a{color:#666; font-size: 12px; text-decoration: none;}
			a:hover{text-decoration: underline;}
		}
	}
}

.agreement{font-size: 13px!important; line-height: 18px; width: 800px!important;
	h3{margin-top: 30px; font-size: 18px;}
	h4{margin: 30px 0 10px 0; font-size: 16px;}
	ul{margin: 0 0 0 20px!important; padding: 0 0px 0px 0px!important;
		li{list-style: none; margin-bottom: 3px; font-style: italic;}
	}
	
	ul li ul {color:red; margin: 0px!important; padding: 0px!important;
		li{color:navy; margin-bottom: 0px;}
	}
	.min_p{margin: 6px 0;}
}

.c_i{
	text-indent: -14px;
	
	
	
}

.team_pic{width: 100%; height: 600px; background: url('../images/team.png') center center no-repeat; background-size: contain;}

.only_text{width: 800px; padding: 100px; margin: 0 auto;}

.vispic{width: 70px; height: 70px; background: url('../images/glasses.png') center center no-repeat; background-size: cover; margin: 20px auto;}

.mapx{position: relative; width: 100%; height: 100%; z-index: 5; border-top:1px solid #eee; border-bottom: 1px solid #eee;}


.preworld{text-align: center;  margin-bottom: 50px;
	h1{font-size: 26px; text-align: center; border-bottom: 0px solid #eee; padding-bottom: 10px; margin-bottom: 0px; text-transform: uppercase; color:#383D48;}
	padding:10px 0 10px 0; 
	p{font-size: 16px; line-height: 24px;}
}
.world{background: url(../images/world2.jpg) center center no-repeat; background-size: contain; width: 1000px; height: 440px;}
.ticket{background: #3B98DA; position: absolute; padding: 30px; border-radius: 14px; color:#fff; font-size: 16px;  line-height: 26px; top:110px; left:100px; }
.ticket_tri{position: absolute; right: 50px;
width: 0;
height: 0;
border-style: solid;
border-width: 30px 25px 30px 0;
border-color: transparent #3B98DA transparent transparent;}


.dropdown-content{position: absolute; background: #fff; border-radius: 4px; box-shadow: 0 0 3px rgba(0,0,0,0.3);  right:-40px; padding: 10px 20px; text-align: left; margin-top: 0px; 
	visibility: hidden;
	transform: translateY(-2em);
  transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.0s, z-index 0s linear 0.0s; }
  
  .langmenu{margin-right: 20px; position: relative; line-height: 30px;
	  a{text-decoration: none; color:#757C84; font-weight: bold; cursor: default;}
  }
  
  #langmenu:hover .dropdown-content {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.2s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}
  
  
.ar_d{width: 12px; height: 12px; background: url('../images/svg/ard.svg') center center no-repeat; background-size: cover;}
.one_lang{cursor: pointer; line-height: 24px;}

.tabacco{width: 100%; background: #fff; border-top:1px solid #E5E6E8; font-family: $rc; text-transform: uppercase; text-align: center; box-sizing: border-box; height: 72px;  margin-bottom: 0px; font-size: 30px; font-weight: 300;
	position: fixed; bottom:0; z-index: 10; box-sizing: border-box; padding: 10px 0;
font-size: 0;
}

.tabacco_oneline{width: 100%; background: #fff; border-top:1px solid #E5E6E8; font-family: $rc; text-transform: uppercase; text-align: center; box-sizing: border-box; height: 72px; line-height: 72px;  margin-bottom: 0px; font-size: 30px; font-weight: 300;
	position: fixed; bottom:0; z-index: 10; 

}




.warn_side{height: 52px; width: 49%; position: relative; background: red;}
.warn_side:first-child{border-right:1px solid #eee;}

.warn_msg{position: absolute; width: 100%; height: 100%; background: #fff;}

.elementToFadeInAndOut {
    opacity: 0;
    animation: fadex 20s linear infinite;
}


@keyframes fadex {
  0%,100% { opacity: 0 }
  30%,50%,70% { opacity: 1 }
}


.sidenotice{background: red; width: 100%; height: 200px; position: relative;}


/*
.second_view_hover{position: absolute; width: 60px; height: 60px; background: rgba(0,0,0,0.34); border-radius: 1000px; box-sizing: border-box; padding: 10px; left: 10px; bottom:120px;}


.pad_hover{width: 100%; height: 100%; position: relative;  border-radius: 1000px;
	background: url('../images/svg/viewpad_dots_2.svg') center center no-repeat; background-size: cover;
}
*/


.second_view_hover{position:absolute; width: 100%; height: 540px; background: transparent; z-index: 0; cursor: pointer;}

/*
.pad_hover{background: red; width: 100%; height: 100%; position: absolute;}
*/


.second_view_image{position: absolute; width: 250px; height: 250px; background: #fff; left: -266px; bottom:140px; z-index: 10; box-sizing: border-box; padding: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.23);
	border-radius: 3px;
	display:none;
}

.in_second_view{position: relative; width: 100%; height: 100%; background: #eee url() center center no-repeat; background-size: cover; }
.in_view_arrow{position: absolute; width: 15px; height: 50px; background: transparent; right:-20px; top:95px;}

.triangle-with-shadow {
  width: 15px;
  height: 50px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.9);
}
.triangle-with-shadow:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  transform: rotate(-45deg); /* Prefixes... */
  top: 10px;
  left: -25px;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.17);
}

.new_back{width: 50px; height: 50px; background: red; position: fixed; top:50%;}


#searchres{font-size: 11px; margin-right: 2px;}

.not_found_box{position: relative; width: 100%; height: 200px;}

.not_found_text{margin: 30px 0px; font-size: 18px; text-align: center; line-height: 30px; position: relative;}

.youreq{font-weight: bold; font-size: 20px; width: 100%; position: relative; display: block;}

.not_found_pic{width: 100%; height:200px; position: relative!important; background: url('../images/robot.jpg') center center no-repeat; background-size: contain;}

.close_search{width: 16px; height: 16px; background: url('../images/svg/search_c2.svg') center center no-repeat; background-size: cover; position: relative; border-radius: 1000px; z-index: 1; cursor: pointer;}

.open_search{position: absolute; width: 30px; height: 30px; background: rgba(0,0,0,0.0) url('../images/svg/search_o.svg') center center no-repeat; background-size: cover; cursor:pointer;}

.collapse_search{width: 0px; padding: 0; opacity: 0;}
.expand_search{width: 200px; padding: 0 10px 0 30px;  z-index: 10;}

.ex{-webkit-transition: width 0.3s, opacity 0.3s ease-in-out;
    -moz-transition: width 0.3s, opacity 0.3s ease-in-out;
    -o-transition: width 0.3s, opacity 0.3s ease-in-out;
    transition: width 0.3s, opacity 0.3s ease-in-out;}









.hide_me{display: none!important;}

//subscription
#order_subscribe{font-size: 0; width: 100%; position: relative;}
.input_subscribe{width: 70%; height: 42px;}
.input_subs_btn{width:30%; height: 42px; line-height: 42px; text-align: center; border-radius: 0 4px 4px 0;  color:#fff; background: #4899F9; font-size: 12px; font-weight: 700; cursor: pointer}
.iaminp{width: 100%; box-sizing: border-box; height: 42px; border-radius: 4px 0 0 4px; outline: none; border:1px solid #4899F9; padding: 0 14px; font-weight: 700; color:rgba(0,0,0,0.67);}
.subs_anno{font-size: 11px; width: 100%; color:rgba(0,0,0,0.54); margin-top: 3px; padding-left: 0px; text-align: center;}

.more_btn{color:#fff; background:#5A99F3; margin-right: 10px; box-sizing: border-box; border:1px solid #5A99F3; padding: 0 10px; border-radius: 4px; font-weight: bold; height: 32px; line-height: 32px; font-size: 12px; cursor:pointer;}


//corporate clients
.nicecat{width: 80px; height: 38px; background:  url('../images/cat4.png') center bottom no-repeat; background-size: contain; position: absolute; top:38px; right:0; z-index:10;
	animation: MoveUpDown 20s linear infinite;
}

@keyframes MoveUpDown {
  0% {
    top: 40px;
  }
  30%{
	  top: 30px;
  }
  40% {
    top: 0px;
    right:0;
  }
  50%{
	  top:20px;
	  right:0px;
  }
  60%{
	  top:0px;
	  right:30px;
  }
  70%{
	  top:40px;
	  right:30px;
  }
  100% {
    top: 40px;
    right:0px;
  }
}

.clients_banner{background: #fafbfc url('../images/clients.png') bottom center repeat-x; background-size:contain; width: 100%; height: 450px; border-bottom: 2px solid #23487B; text-align: center; line-height: 350px; font-size: 50px; font-family: 'PB'}
.corp_text{font-family: 'PR'; font-size: 16px;}
.corp_text_2{font-family: 'PR'; font-size: 15px;}
.corp_text_3{font-family: 'PR'; font-size: 16px; line-height: 22px;}
.corp_contacts{background: #DFF2F8 url('../images/corp_cont.png') right center no-repeat; background-size: contain; box-sizing: border-box; padding: 20px 20px 20px 20px;  margin: 40px 0; border-radius: 6px; }
.corporate_mobile{background: #fff; margin-top: -16px; box-sizing: border-box; padding: 20px 0;}
.mobile_inner_cc{max-width: 85%; margin: 0 auto;
	p{margin-top: 0px;}
	h3{margin-top: 40px;}
}

@media only screen 
and (min-width: 767px) 
  and (max-width: 1270px) {
	.corporate_mobile{background: #fff; margin-top: 0px; box-sizing: border-box; padding: 50px 0;} 
	.mobile_inner_cc{max-width: 60%; margin: 0 auto;} 
  }