@font-face {
  font-family: 'LemonTuesday';
  src: url('../fonts/LemonTuesday.eot?#iefix') format('embedded-opentype'),  url('../fonts/LemonTuesday.woff') format('woff'), url('../fonts/LemonTuesday.ttf')  format('truetype'), url('../fonts/LemonTuesday.svg#LemonTuesday') format('svg');
  font-weight: normal;
  font-style: normal;
}

//.corp_page{background: transparent; width: 100%; position: relative;}
.corp_top{position: absolute; padding: 20px 0; width: 100%; background: rgba(0,0,0,0.0); top:0; z-index: 100500;}

.corp_top_left{display:inline-block; vertical-align: middle; width: calc(50% - 2px); box-sizing: border-box; padding-left: 50px;}
.corp_top_right{display: inline-block; vertical-align: middle; width: calc(50% - 2px); box-sizing: border-box; text-align: right; padding-right: 50px; 
	ul{
		li{display: inline; margin-left: 20px;
			a{color:#fff; font-family: 'PB'}
		}
	}
}

.corp_hello{width: 100%; height: calc(100% + 0px); min-height: 100%; position: relative; background: #624D97 url('../images/error.png') center bottom no-repeat; }
.corp_inhello{position: relative; width: 100%; height: 100%;}
.corp_inhello_middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#fff; font-family: 'PB';
}

.corp_main_hello{font-size: 160px; line-height: 130px;}
.corp_other_hello{font-size: 70px; line-height: 60px; text-align: center;}

.t_p_50{padding-top:50px!important;}
.b_p_50{padding-bottom: 50px!important;}

.corp_section{padding: 0px 0 0px 0;}
.corp_headings{margin: 0 auto; width: 50%;
	h1{text-align: center; font-family: 'PB'; font-weight: normal; font-size: 50px;}
}


$pat_1:'https://i.pinimg.com/736x/ae/83/f8/ae83f8d8bdd72a52d744bbb2d34ee228--pattern-floral-pattern-fabric.jpg';
$pat_2:'https://upload.wikimedia.org/wikipedia/commons/5/5b/UCP_pattern.jpg';
$pat_3:'https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0371/6769/HOLIDAY-PATTERN_shop_preview.png';

$logo_1:'../images/newcorp/logo1.png';
$logo_2:'../images/newcorp/logo2.png';
$logo_3:'../images/newcorp/logo3.png';

.corp_full_box{width: 1000px; height: 1300px; background: transparent url('../images/newcorp/testbox5.png') center center no-repeat; margin:0px auto; position: relative;}
.corp_belt{width: 808px; height: 259px; position: absolute; background: rgba(255,0,0,0.3); margin: 511px 0px 0 98px;}

.corp_overlogo{width: 100%; height: 100%; background: url('../images/newcorp/overlay.png') center center no-repeat; position: absolute; z-index: 1001; opacity: 1}
.corp_logo{width: 100%; height: 100%; background: none; position: absolute; z-index: 1000;}

.inside_logo{width: 100%; height: 100%; position: relative;}

.corp_text_logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px; 
  font-family: 'PB';
  color:#fff;
  text-shadow: 0px 0px 0px black, 0 0 1em #eee;
}


.corp_belt_a{position: absolute; width: 100%; height: 100%; background: #624D97;}
.corp_belt_b{position: absolute; width: 100%; height: 100%;}

.corp_box_data{width: 750px; margin: 0px auto 140px auto; color:rgba(0,0,0,0.44);}
.corp_box_title{font-family: 'PB'; font-size: 20px; margin-bottom: 10px;}
.corp_box_all_parts{font-size: 0;}
.corp_box_part{width: calc(50% - 1px); box-sizing: border-box;}
.corp_box_part:last-child{border-left: 1px solid #eee; padding-left: 40px;}
.corp_box_part_x{width: 40%;}

.gotobox{background: #FB751D; padding: 5px 8px; border-radius: 4px; font-family: 'PB'; color:#fff;}

.allgreetings{width: 100%; overflow: hidden; position: relative;}
.greetings{width: 800px; height: 800px; background: none; margin: 20px auto; position: relative; }
.ingreetings{width: 1000px; height: 1000px; transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg); background: #fafbfc url('../images/newcorp/gr_2.png') center center no-repeat; background-size: cover; position:absolute; margin-left: -100px; margin-top: -120px; box-shadow: 0 0 100px rgba(0,0,0,0.23); border-bottom: 3px solid #eee; border-left: 3px solid #eee; box-sizing: border-box; padding: 120px; font-size: 50px; font-family: 'LemonTuesday'; color:#232323; line-height: 70px;
	a{color:#624D97;}
}

* {text-decoration: none;}

.inc{width: 100%; height: 100%; position: relative;}
.center_greetings{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delivery_anims{height: 600px; background: #fff; margin-top: 30px; position: relative;}

$basepx: 16px;

@function em($target, $context: $basepx) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

@mixin prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

/*
html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
*/
.background-stuff{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #98c5e8;
  animation: wrapperIn 2s;
  .bg{
    position: absolute;
    top: 0%;
    left: -100%;
    width: 50%;
    height: 100%;
    background: #636ed1;
    @include prefix(animation, bgIn 4s 0s linear infinite);
    @include prefix(transform, skewX(10deg));
    z-index: 1;
  } 
  .bg-2{
    background: #8faaff;
    @include prefix(animation, bgIn 4s 1s linear infinite);
  } 
  .bg-3{
    background: #5a73da;
    @include prefix(animation, bgIn 4s 2s linear infinite);
  }  
  .ground{
    position: absolute;
    bottom: 0;
    margin-bottom: em(-30px, $basepx);
    height: 50%;
    width: 100%;
    background: #624D97;
    z-index: 2;
  }
}

.container{
  height: 100%;
  width: 100%;
  display: table;
  overflow: hidden;
  .car-wrapper{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

.car{
  width: em(320px, $basepx);
  height: em(200px, $basepx);
  position: relative;
  opacity: 1;
  top:-110px;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  @include prefix(animation, carMove 0.3s infinite);
  .body{
    position: absolute;
    top: 0;
    left: em(14px, $basepx);
    width: em(230px, $basepx);
    height: em(160px, $basepx);
    background: #fff;
    &:before{
      content: "";
      position: absolute;
      left: em(-14px, $basepx);
      border-radius: 10px 10px 0 0;
      width: em(254px, $basepx);
      z-index: 2;
      height: em(12px, $basepx);
      background: #3190dd;
    }
    div{
      position: absolute;
      background: #fff;
      width: em(290px, $basepx);
      height: em(60px, $basepx);
      bottom: em(-10px, $basepx);
      border-radius: 0 0 10px 10px;
      &:before{
        content: "";
        background: #fff;
        position: absolute;
        top: em(-29px, $basepx);
        right: 0px;
        width: em(80px, $basepx);
        height: em(40px, $basepx);
        z-index: 1;
        border-radius: 0 14px 0 0;
        @include prefix(transform, rotate(17deg));
      }
      &:after{
        content: "";
        background: #fff;
        position: absolute;
        top: em(-82px, $basepx);
        right: em(17px, $basepx);
        width: em(90px, $basepx);
        height: em(40px, $basepx);
        z-index: 1;
        border-radius: 10px 0 0 0;
        @include prefix(transform, rotate(75deg));        
      }
    }
   }
  .wheel{
    position: absolute;
    width: em(60px, $basepx);
    height: em(60px, $basepx);
    background: #3c464c;
    border-radius: 50%;
    bottom: 0;
    left: em(48px, $basepx);
    z-index: 14;
    @include prefix(animation, carMove 0.3s 0.2s);
    &:before{
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      background: #fff;
      width: em(24px, $basepx);
      height: em(24px, $basepx);
      border-radius: 50%;
      @include prefix(transform, translate(-50%, -50%));
    }
    &:nth-of-type(2){
      left: em(210px, $basepx);
    }
  }
  .decos{
    width: em(290px, $basepx);
    height: em(168px, $basepx);
    position: absolute;
    z-index: 12;
    top: 0;
    left: em(14px, $basepx);
  }
  .line-bot{
    position: absolute;
    bottom: em(9px, $basepx);
    height: 3px;
    width: 100%;
    background: #e1e8ef;
  }
  .door{
    position: absolute;
    left: em(120px, $basepx);
    bottom: 0;
    width: em(60px, $basepx);
    height: em(141px, $basepx);
    border-radius: 10px 10px 0 0;
    border: 3px solid #e1e8ef;
    border-bottom: 0;
    background: #fff;
    &:after{
      content: "";
      position: absolute;
      top: em(6px, $basepx);
      left: em(7px, $basepx);
      width: em(46px, $basepx);
      height: em(40px, $basepx);
      border-radius: 4px;
      background: #5bc2ef;
    }
    .handle{
      position: absolute;
      right: em(10px, $basepx);
      top: em(70px, $basepx);
      width: em(10px, $basepx);
      height: em(10px, $basepx);
      background: #e1e8ef;
      border-radius: 50%;
      &:after{
        content: "";
        width: em(20px, $basepx);
        height: em(4px, $basepx);
        border-radius: 10px;
        background: #e1e8ef;
        position: absolute;
        top: 50%;
        left: em(-5px, $basepx);
        margin-top: em(-2px, $basepx);
      }
    }
    .bottom{
      position: absolute;
      bottom: em(6px, $basepx);
      left: em(11px, $basepx);
      width: em(38px, $basepx);
      height: em(12px, $basepx);
      &:before, &:after{
        content: "";
        display: block;
        width: 100%;
        height: em(3px, $basepx);
        background: #e1e8ef;
        height: em(4px, $basepx);
        border-radius: 10px;
        margin-bottom: em(4px, $basepx);
      }
    }
  }
  .window{
    position: absolute;
    top: em(18px, $basepx);
    left: em(200px, $basepx);
    width: em(32px, $basepx);
    background: #5bc2ef;
    height: em(72px, $basepx);
    border-radius: 10px 10px 0 10px;
    &:before{
      content: "";
      width: 100%;
      height: em(20px, $basepx);
      background: #5bc2ef;
      position: absolute;
      bottom: 0;
      left: 0;
      width: em(47px, $basepx);
      border-radius: 0 10px 10px 10px;
    }
    &:after{
      content: "";
      height: em(20px, $basepx);
      background: #5bc2ef;
      position: absolute;
      top: em(17px, $basepx);
      left: em(-13px, $basepx);
      width: em(67px, $basepx);
      transform-origin: bottom;
      @include prefix(transform, rotate(74deg));
      border-radius: 10px 10px 10px 10px;
    }    
  }
  .light{
    position: absolute;
    width: em(10px, $basepx);
    height: em(10px, $basepx);
    background: #ff8c40;
    right: em(60px, $basepx);
    bottom: em(50px, $basepx);
    border-radius: 3px;
  }
  .light-front{
    position: absolute;
    width: em(8px, $basepx);
    height: em(8px, $basepx);
    background: #ff8c40;
    right: em(-3px, $basepx);
    bottom: em(57px, $basepx);
    border-radius: 3px;
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #ff8c40;
      top: 100%;
      height: em(15px, $basepx);
      border-radius: 3px;
      margin-top: 2px;
    }
  }  
  .antenna{
    position: absolute;
    width: em(26px, $basepx);
    height: em(10px, $basepx);
    background: #fff;
    bottom: 100%;
    left: em(17px, $basepx);
    border-radius: 4px 4px 0 0;
    &:before{
      content: "";
      position: absolute;
      width: em(38px, $basepx);
      height: em(4px, $basepx);
      background: #fff;
      bottom: 0;
      left: em(-22px, $basepx);
      @include prefix(transform, rotate(55deg));
      @include prefix(transform-origin, right);
      border-radius: 4px;
    }
  }
  .ice-cream{
    position: absolute;
    left: em(30px, $basepx);
    top: em(30px, $basepx);
    width: em(70px, $basepx);
    height: em(70px, $basepx);
    border: 3px solid rgba(246, 200, 102, 0.31);
    border-radius: 50%;
    @include prefix(transform, rotate(-30deg));
    .cone{
      position: absolute;
      top: 50%;
      left: 50%;
      @include prefix(transform, translate(-50%, -20%));
      border-right: em(18px, $basepx) solid transparent;
      border-left: em(18px, $basepx) solid transparent;
      border-top: em(40px, $basepx) solid #f4b224;
      &:after{
        content: "";
        position: absolute;
        width: em(20px, $basepx);
        height: em(20px, $basepx);
        background: #00c0a8;
        border-radius: 50%;
        top: em(-55px, $basepx);
        left: 0px;
        z-index: -1;
      }
      &:before{
        content: "";
        position: absolute;
        width: em(20px, $basepx);
        height: em(20px, $basepx);
        background: #ffd132;
        border-radius: 50%;
        top: em(-55px, $basepx);
        left: em(-20px, $basepx);
        z-index: -1;
        box-shadow: 10px -5px 0px 0px #ff9a9a;
      }      
    }
  }
}

.wind{
  position: absolute;
  z-index: -1;
  right: 100%;
  height: 100%;
  margin-right: em(-20px, $basepx);
  .p{
    position: absolute;
    background: #fff;
    border-radius: em(10px, $basepx);    
    height: em(10px, $basepx);
  }
  .p1{
    width: em(70px, $basepx);
    position: absolute;
    right: 0;
    top: em(25px, $basepx);
    animation: wind 1s -1s linear infinite;
  }
  .p2{
   width: em(100px, $basepx);
   right: em(40px, $basepx);
   top: em(60px, $basepx); 
    animation: wind 1s -2s linear infinite;
  }
  .p3{
   width: em(50px, $basepx);
   right: em(00px, $basepx);
   top: em(105px, $basepx); 
    animation: wind 1s -1s linear infinite;
  } 
  .p4{
   width: em(60px, $basepx);
   right: em(100px, $basepx);
   top: em(135px, $basepx); 
    animation: wind 1s 1s linear infinite;
  }   
  .p5{
   width: em(70px, $basepx);
   right: em(30px, $basepx);
   top: em(145px, $basepx); 
    animation: wind 1s -1.5s linear infinite;
  }     
}

.car-wrapper_inner{
  position: relative;
  z-index: 4;
}

@keyframes carMove{
  0%{
    transform: translateY(0px);
  }
  50%{
   transform: translateY(-1px); 
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes wind{
  0%{
    transform: translateX(100%);
    opacity: 1;
  }
  100%{
    transform: translateX(-400%);
    opacity: 0;
  }
}

.car_outter{
  @include prefix(transform, translateX(-100%));
  position: relative;
  animation: carDrive 5s 1s cubic-bezier(0.88, 0.08, 0.16, 1.1) infinite;
}

@keyframes carDrive{
  0%{
    transform: translateX(-100%);
  }
  25%{
    transform: translateX(0%);
  }
  70%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(100%);
  }
}

@keyframes bgIn{
  0%{
    left: 100%;
  }
  100%{
    left: -100%;
  }
}

@keyframes wrapperIn{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}


.allcals{width: 400px; position: relative; margin: 50px auto 0 auto;}
.corp_cal{width: 400px; background: #FB751D; position: relative;  box-sizing: border-box;box-shadow: 0 0 40px rgba(0,0,0,0.73); 
	-webkit-transition: box-shadow 0.3s; /* Safari */
    transition: box-shadow 0.3s ;
    z-index:20;
}

.byside{position: absolute!important; background: #5a73da!important; top:0; left: -70px; z-index: 10!important; width: 300px!important; height: 500px!important; margin-top: 50px;
	//filter: blur(7px);
	box-shadow: 0 0 20px rgba(0,0,0,0.33);
	opacity: 0.5;
	transform: rotate(-3deg); 
}
.byside2{position: absolute!important; background: #383C4A!important; top:0; right: -80px; z-index: 10!important; width: 340px!important; height: 550px!important; margin-top: 25px;
	//filter: blur(7px);
	box-shadow: 0 0 20px rgba(0,0,0,0.43);  
	opacity:0.8;
	transform: rotate(5deg);
}
//.corp_cal:hover{box-shadow: none; }
.cca{text-align: center; color:#fff; position: relative;}
.cald_month{font-size: 40px; padding-top:60px; font-family: 'PB'; line-height: 40px; text-transform: uppercase;}
.cald_date{font-size: 130px; font-family: 'PB'; line-height: 120px; margin: 30px auto 10px auto;}
.cald_day{font-size: 20px; font-family: 'PB'; text-transform: uppercase; color:rgba(0,0,0,0.3)!important;}
.cald_sep{width: 70%; margin: 30px auto; height: 2px; background: rgba(0,0,0,0.1)}

.holy_next_box{margin: 0px auto; position: relative; background: rgba(255,255,255,0.0); padding: 0px 0 32px 0; }

.cald_now_holiday{text-align: center;}
.now_holiday_title{text-transform: uppercase; color:#be4e04; font-family: 'PB'; font-size: 11px;}
.now_holiday_holy{font-size: 20px; line-height: 24px; margin: 8px auto; font-family: 'PB'; color:#fff; width: 90%}

.one_next_holy{font-size: 0; width: 70%; margin: 10px auto; box-sizing: border-box; padding: 4px 0; position: relative;}
.holy_date{display: inline-block; vertical-align: top; font-size: 15px; font-family: 'PB'; width: 20%; color:#be4e04;}
.holy_name{display: inline-block; vertical-align: top; font-size: 15px; font-family: 'PB'; width: 80%; color:rgba(0,0,0,0.6);}

.corp_footer{ background: #383C4A; margin-top: 70px;}
.incorp_footer{width: 940px; margin: 0px auto; color:#fff; padding: 80px 0; font-family: 'PB'; font-size: 14px;}
.infooter_all{font-size: 0;}
.width20{width: 20%!important;}
.infooter_one{font-size: 14px; width:40%; display:inline-block; vertical-align: top; box-sizing: border-box;}
.text_right{text-align: right;}
