@font-face {
  font-family: 'LemonTuesday';
  src: url('../fonts/LemonTuesday.eot?#iefix') format('embedded-opentype'),  url('../fonts/LemonTuesday.woff') format('woff'), url('../fonts/LemonTuesday.ttf')  format('truetype'), url('../fonts/LemonTuesday.svg#LemonTuesday') format('svg');
  font-weight: normal;
  font-style: normal;
}


//html, body{background-color: #fff;}
//$winecolor:#330001;
$winecolor:#541032;

$wh:60px;
.winetop{position: absolute; background: transparent; border-bottom: 0px solid #eee; height: $wh; width: 100%; top:0; z-index: 100500; text-align: center; padding-top: 20px;}

.winelogo{width: 140px;}

.wine_scrolldown{position: absolute; width: 40px; height: 40px; left:50%; margin-left: -20px; bottom:80px; background: rgba(0,0,0,0.05); z-index: 100600; cursor: pointer; border-radius: 1000px;}
.inscroll{width: 100%; height: 100%; background: url('../images/wine/scrolldown.png') center center no-repeat; background-size: cover;}

.winebuy{padding-top: 40px;}

.winestart{
	//padding-top: $wh; 
	position: relative; height: calc(100% + 50px); box-sizing: border-box; background: url('../images/wine/pattern.png'); margin-bottom:40px;}

.instart{width: 100%; height: 100%; background: transparent url('') center center no-repeat;  position: relative; }

.instart_text{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'LemonTuesday'; 
  text-align: center;
  width: 100%;
  color:#541032;
}

.winehello_pic{width: 240px; margin: 0 auto; }
.winehello_main{font-size: 90px; line-height: 90px;}
.winehello_add{font-size: 50px; line-height: 60px;}

.imgresp{width: 100%; height: auto;}

.videosection{position: relative; width: 100%; height: 100%;}

.fullvideo{position: relative;  overflow: hidden; width: 100%; height: 100%; background: url('../images/wine/bigx.jpg') center center no-repeat; background-size: cover;}
 .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
	margin: auto;
	opacity: 0;
    transition: opacity .5s;

    &.active {
      opacity: 1;
    }
  }

.videobottom{position: absolute; width: 100%; height: 50px; background:url('../images/wine/tris.png'); z-index: 100400; bottom:0;}

.videotop{position: absolute; width: 100%; height: 50px; background:url('../images/wine/tris_up.png'); z-index: 100400; top:0;}

.tris{position: absolute; width: 100%; height: 50px; background:url('../images/wine/tris.png'); z-index: 100400; bottom:0;}

.lemon{font-family: 'LemonTuesday'!important;}

.sect_block{padding: 0px 0; box-sizing: border-box;}
.sec_title{text-align: center; font-family: 'LemonTuesday'; font-size: 60px; line-height: 60px; color:$winecolor;}
.sec_inner{max-width: 1000px; margin: 40px auto; background: none;}


.one_wine_title{text-align: left; font-family: 'LemonTuesday'; font-size: 60px; line-height: 60px; color:$winecolor;}
.wine_comps{font-size: 16px; line-height: 22px; margin-top: 20px; font-family: 'PR'}

.spices_desc{max-width: 550px; margin:0 auto; font-size: 16px; line-height: 22px; font-family: 'PR';}

.herbs{width: 300px; height: auto; margin: 0 auto;}
.wine_recs{font-size: 0;}
.one_wine{display: inline-block; vertical-align: middle; font-size: 16px; width: 50%; box-sizing: border-box; padding: 30px;}
.one_recipe{display: inline-block; vertical-align: top; font-size: 16px; width: 50%; box-sizing: border-box; padding: 30px;}

.wineul{margin: 0; padding: 0;
	li{margin-bottom: 7px; line-height: 17px; list-style-type: circle; margin-left: 15px;}
}

.rec_title{color:$winecolor; font-family: 'LemonTuesday'; font-size: 36px; line-height: 40px;}
.rec_comps{font-size: 16px; line-height: 22px; margin-top: 20px; font-family: 'PR'}


//.winebuy{padding-bottom: 100px;}
.wineselectorbox{width: 500px; margin: 0 auto 50px auto; background: none;}
.wine_selector{font-size: 0; width: 100%; border-bottom: 1px solid #eee; padding-bottom: 20px; margin-bottom: 20px;}
.redwhite{font-size: 10px; display: inline-block; vertical-align: top; width:50%;}

.choose_bottle{position: relative; width: 100%; height: 250px; cursor: pointer; }
.redbottle{background:url('../images/wine/r.jpg') center center no-repeat; background-size: contain; border-right:1px solid #eee;}

.whitebottle{background:url('../images/wine/w.jpg') center center no-repeat; background-size: contain;}

.overbottle{position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.0) url('../images/wine/selected.svg') center center no-repeat; background-size: 50%, 25%, 25%; transition : opacity 0.3s linear; }



.hidechoose{opacity:0;}

.graybottle{-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition : filter 0.3s linear;
    transition : opacity 0.6s linear;
    opacity: 0.3;
}

.graybottle:hover{
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
    opacity: 0.8;
}

.winen{text-align: center; width: 100%; font-size: 14px; font-family: 'PB'; margin-top: 15px;}

.wine_qty{font-size: 0; border-bottom: 1px solid #eee; padding-bottom: 20px; margin-bottom: 20px;}
.wine_qty_text{font-size: 13px; display: inline-block; vertical-align: middle; width: 85%; box-sizing: border-box; padding-right: 50px;}
.wine_qty_sel{font-size: 13px; display: inline-block; vertical-align: middle; width: 15%; }
.mod{font-size: 20px; font-weight: bold;}



.selboxwine{
	padding: 0;
    margin: 0;
    border: 1px solid #DFE0E2;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    position:relative;
    background: #F8F8F8 url("../images/svg/sel.svg") no-repeat right center;
}

.selboxwine select {
color:rgba(0,0,0,0.64);
    padding: 7px 40px 7px 8px;
    width: 110%;
   border:none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}




.selboxwine select:focus {
    outline: none;
}


.wine_total{font-size: 30px; font-family: 'PB'; text-align: right;}

.wine_buy{background: $winecolor; color:#fff; display: block; text-align: center; margin: 70px auto 0 auto; border-radius: 4px; padding: 20px; font-size: 20px;  font-family: 'PB'; cursor:pointer;  transition: background 0.3s linear;}

.wine_buy:hover{background: #791647;}

.wine_footer{padding: 30px 0; border-top:1px solid #eee; font-size: 0; box-sizing: border-box; font-family: 'PB';}
.wf_l{display: inline-block; vertical-align: middle; font-size: 13px; width: 50%; padding-left: 10%; box-sizing: border-box;}
.wf_r{display: inline-block; vertical-align: middle; font-size: 13px; width: 50%; text-align: right; padding-right: 10%; box-sizing: border-box;}



.winepop{position: fixed; width: 100%; height: 100%; background: rgba(255,255,255,0.98); z-index: 100800;}
.winepopbox{width: 400px; height:500px; background: #fff; position: absolute; left:50%; top:50%; margin-left: -200px; margin-top: -250px;  box-shadow: 0 0 30px rgba(0,0,0,0.5); opacity: 1; border-radius: 4px;}
.closewine{position: absolute; width: 50px; height: 50px; top:0; right:0; background: url('../images/wine/cross.svg') center center no-repeat; background-size: cover; z-index: 102; cursor:pointer;}

.only_mobile{display:none;}


.winepopcontent{position: relative; width: 100%; height: 100%; background: none; z-index: 100; opacity: 1;}
.inwinecontent{position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //font-family: 'LemonTuesday'; 
  text-align: center;
  width: 100%;
  z-index: 101;
 }
 
 
 .inwinecontent_ok{position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'LemonTuesday'; 
  text-align: center;
  width: 100%;
  color:$winecolor;
  z-index:100;
  display:none;
  font-size: 30px;
 }
 
 .wine_thanks{font-family: 'PR'; font-size: 14px; margin-top: 20px; color:rgba(0,0,0,0.67);}
  
.wine_order_icon{width: 50px; margin: 0 auto 20px auto;}  
.wine_order_title{font-family: 'LemonTuesday'; font-size: 32px; color:#541032;}
.wine_order_consist{font-size: 0; width: 90%; background: #fff; margin: 30px auto 20px auto; border-top:0px solid #eee; border-bottom:0px solid #eee; padding: 7px 0; text-align: left; font-family: 'PB';}

.winefont12{font-size: 14px; font-family: 'PB';}

.wine_order_item{width: 35%; line-height: 14px;}
.wine_order_price{width:15%; color:rgba(0,0,0,0.34);}
.wine_order_x{width: 10px; color:rgba(0,0,0,0.34);}
.wine_order_qty{width: 10%; color:rgba(0,0,0,0.34);}
.wine_order_total{width: calc(40% - 30px); border-left:1px solid #eee; margin-left: 10px; padding-left: 10px; box-sizing: border-box; color:rgba(0,0,0,0.34); }

#wineordertotal{color:rgba(0,0,0,0.77)!important;}
#winetotal_name{font-size: 12px;}

.wineunits{text-transform: uppercase; font-size: 9px;}


.wine_order_inputs{border-top:1px solid #eee; padding-top: 20px;}
.winp{width: 60%; margin: 5px auto;}
.wsubmt{margin: 30px auto 20px auto; width: 60%; position: relative;}
.wine_button_hover{position: absolute; width: 100%; height: 100%; background: rgba(255,255,255,0.8);}

.wineinp{width: 100%; padding: 20px 10px; background: #fafbfc; box-sizing: border-box; border-radius: 3px; font-family: 'PR';}

.wine_order_submit{background:$winecolor; color:#fff; font-family: 'PB'; font-size: 16px; border-radius: 4px; padding: 14px 0; cursor:pointer;}

.wine_order_anno{font-size: 11px; font-family: 'PR';}


.wine_bottom_text{margin-top: 60px; padding-bottom: 40px; font-size: 13px; color:rgba(0,0,0,0.44); text-align: center;}


.wine_play{position: absolute; width: 100px; height: 100px; background: url('../images/wine/play.png') center center no-repeat; background-size: cover; top:50%; left:50%; margin-top: -50px; margin-left: -50px; cursor: pointer;}





@media only screen and (max-width: 1000px) 
 {
	 
	 
input[type="text"]{
-webkit-appearance: none;
border-radius: 4px;
}


.wineul{margin: 0; padding: 0;
	li{margin-bottom: 4px; line-height: 16px; list-style-type: circle; margin-left: 14px;}
}

.wine_bottom_text{margin: 60px auto 0 auto; padding-bottom: 0px; font-size: 12px; color:rgba(0,0,0,0.44); text-align: left; width: 80%;}	 
	 
.winepopbox{width: 90%; height:90%; background: #fff; position: absolute; left:5%; top:5%; margin-left: 0px; margin-top: 0px;  box-shadow: 0 0 20px rgba(0,0,0,0.23); opacity: 1; border-radius: 4px;}
	
.wine_order_item{width: 50%; line-height: 14px; margin-right: 30px;}
.wine_order_price{width:25%; color:rgba(0,0,0,0.34);}
.wine_order_x{width: 10px; color:rgba(0,0,0,0.34);}
.wine_order_qty{width: calc(25% - 40px); color:rgba(0,0,0,0.34);}

.mobile_wine_total{text-align: center; font-size: 18px; text-align: left; border-top:0px solid #eee; margin-top: 10px; padding-top: 10px; font-family: 'PL'}
	
.winp{width: 90%; margin: 5px auto;}
.wsubmt{margin: 30px auto 20px auto; width: 90%; position: relative;}
	 
	 
	 //.videosection{display:none;}
	 
	 .only_mobile{display:block!important;}
	 .only_desktop{display:none!important;}
	 
	.winehello_pic{width: 30%; margin: 0 auto;}
	.winehello_main{font-size: 50px; line-height: 50px;}
	.winehello_add{font-size: 30px; line-height: 40px;}
	
	.one_wine{width: 100%; margin: 0 auto; padding: 0px 50px;}
	.wine_comps{font-size: 14px; line-height: 18px; margin-bottom: 20px;}
	
	.spices_desc{font-size: 14px; line-height: 18px; margin-bottom: 20px;}
	#spipic{width: 100%;}
	
	.herbs{width: 40%; height: auto; margin: 0 auto;}
	.rec_title{color:$winecolor; font-family: 'LemonTuesday'; font-size: 24px; line-height: 28px; margin-top: 20px;}
	.rec_comps{font-size: 14px; line-height: 18px; margin-top: 20px; font-family: 'PR'}
	.one_recipe{display: block; font-size: 14px; width: 100%; box-sizing: border-box; padding: 10px;}
	
	.videobottom{display: none;}
	.videotop{display: none;}
	.sec_title{font-size: 30px; line-height: 40px;}
	.sec_inner{max-width: 90%; margin: 10px auto; background: none;}
	
	.winebuy{padding-top: 20px; padding-bottom: 10px;}
	
	.wineselectorbox{width: 100%; margin: 0 auto 50px auto; background: none;}
	.wine_qty_text{font-size: 11px; display: inline-block; vertical-align: middle; width: 75%; box-sizing: border-box; padding-right: 20px;}
	.wine_qty_sel{font-size: 13px; display: inline-block; vertical-align: middle; width: 25%; }
	
	
	.wine_footer{padding: 30px 0; border-top:0px solid #eee; font-size: 0; box-sizing: border-box; font-family: 'PB';}
	.wf_l{display: block;  font-size: 13px; padding-left: 0; width: 100%; text-align: center;}
	.wf_r{display: none;}

  }

